
.left {
    float: left;
    margin-right: 20px;
    padding: 40px;
    color: coral;
 
}
.right {
    float: right;
    margin-left: 20px;
     padding: 40px; 
     color: crimson;
}

nav 
{
    text-align: center;
}


br {
    clear: both; 
}